<!DOCTYPE html>
<html>

<head>
  <title>Quiz Admin</title>
  <link rel="icon" href="/images/favicon.svg" sizes="any" type="image/svg+xml">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>

<body>
  <div id="app">

    <!-- list quizzes screen -->
    <div v-show="screen === 'start'">
      <h1 class="title">Quiz Admin</h1>

      <div v-show="list.quizzes == null" class="center"><img src="/images/ajax-loader.gif"></div>
      <div v-show="list.quizzes != null" class="box">
        <h2 class="subtitle">All Quizzes</h2>
        <div v-show="list.quizzes != null" v-for="(quiz, index) in list.quizzes" class="center">
          <div class="spaced">
            <button class="subtitle" v-on:click="editQuiz(index)">{{ quiz.name }}</button>
            <button v-on:click="deleteQuiz(quiz.id)">&#10060;</button>
          </div>
        </div>
        <br><br>
        <button class="button" v-on:click="newQuiz()">New Quiz</button>
      </div>
      <br><br>

      <div v-show="list.games == null" class="center"><img src="/images/ajax-loader.gif"></div>
      <div v-show="list.games != null" class="box">
        <h2 class="subtitle">All Games</h2>
        <table v-show="list.games != null">
          <tr><th style="font-weight: bold;">Pin</th><th>Quiz Name</th><th>Number of Players</th><th>Question Index</th><th>Game State</th><th>Delete</th></tr>
          <template v-for="(game, index) in list.games" class="center">
            <tr>
              <td><button class="subtitle" v-on:click="editGame(index)">{{ game.pin }}</button></td>
              <td>{{ game.quiz.name }}</td>
              <td>{{ Object.keys(game.players).length }}</td>
              <td>{{ game.questionindex }}</td>
              <td>{{ game.gamestate }}</td>
              <td><button v-on:click="deleteGame(game.pin)">&#10060;</button></td>
            </tr>
          </template>
        </table>
      </div>
      <br><br>

      <div v-show="list.sessions == null" class="center"><img src="/images/ajax-loader.gif"></div>
      <div v-show="list.sessions != null" class="box">
        <h2 class="subtitle">All Sessions</h2>
        <table v-show="list.sessions != null">
          <tr><th>ID</th><th>Client Connected</th><th>Screen</th><th>Game Pin</th><th>Name</th><th>Admin</th><th>Delete</th></tr>
          <template v-for="(session, index) in list.sessions" class="center">
            <tr>
              <td>{{ session.id }}</td>
              <td>{{ session.client == null?'no':'yes' }}</td>
              <td>{{ session.screen }}</td>
              <td>{{ session.gamepin }}</td>
              <td>{{ session.name }}</td>
              <td>{{ session.admin?'yes':'no' }}</td>
              <td><button v-on:click="deleteSession(session.id)">&#10060;</button></td>
            </tr>
          </template>
        </table>
      </div>

    </div>

    <!-- quiz creator screen -->
    <div v-show="screen === 'creator'">
      <h1 class="title">Quiz Creator Studio</h1>

      <div>
        <label class="commonTitle">Quiz Title</label>
        <input v-model="quiz.name" type="text" />
      </div>
      <div>
        <label class="commonTitle">Question Duration</label>
        <input v-model.number="quiz.questionDuration" type="number" />
      </div>
      <br><br>
      <!-- all questions -->
      <div v-for="(question, index) in quiz.questions">
        <!-- each question -->
        <div class="question-field" v-bind:class="{odd: index%2 == 1, even: index%2 == 0}">
          <label>Question {{ index }}: </label>
          <input v-model="question.question" class="question" type="text" />
          <br><br>
          <label>Answer 0: </label>
          <input v-model="question.answers[0]" type="text" />
          <label>Answer 1: </label>
          <input v-model="question.answers[1]" type="text" />
          <br><br>
          <label>Answer 2: </label>
          <input v-model="question.answers[2]" type="text" />
          <label>Answer 3: </label>
          <input v-model="question.answers[3]" type="text" />
          <br><br>
          <label>Correct Answer (0-3): </label>
          <input v-model.number="question.correct" class="correct" type="number" />
          <br><br>
          <button v-on:click="deleteQuestion(index)">Delete Question</button>
        </div>
        <br><br>
      </div>
      <br>
      <button v-on:click="addQuestion">Add Another Question</button>
      <br><br>
      <div>
        <button v-on:click="updateQuiz">{{ quiz.id == null?'Create Quiz':'Update Quiz' }}</button>
      </div>
      <br>
      <button v-on:click="cancelQuiz">Cancel</button>
    </div>

    <!-- edit game screen -->
    <div v-show="screen === 'editgame'">
      <h1 class="title">Edit Game</h1>
      <div>
        <table>
          <tr>
            <td class="question">Game Pin</td>
            <td class="question">{{ editgame.pin }}</td>
          </tr>
          <tr>
            <td class="question">Question Index</td>
            <td class="question"><input v-model.number="editgame.questionindex" class="question"></td>
          </tr>
          <tr>
            <td class="question">Game State</td>
            <td class="question"><input v-model.number="editgame.gamestate" class="question"></td>
          </tr>
        </table>
        <br>
        <button v-on:click="updateGame">Update Game</button>
      </div>
    </div>

    <!-- message screen -->
    <div v-show="screen ==='message'">
      <div class="subtitle">{{ message.text }}</div>
      <button class="button" v-show="message.next != ''" v-on:click="dismissMessage">OK</button>
    </div>

  </div>
  <script src="app.js"></script>
</body>
</html>