<!DOCTYPE html>
<html>

<head>
  <title>Quiz Admin</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <div v-show="screen === 'start'">
      <h1 class="title">Quiz Admin</h1>
      <div class="center" v-for="(quiz, index) in list.quizzes">
        <button class="subtitle spaced" v-on:click="editQuiz(index)">{{ quiz.name }}</button>
      </div>
      <br><br>
      <button class="button" v-on:click="newQuiz()">New Quiz</button>
    </div>


    <div v-show="screen === 'creator'">
      <h1 class="title">Quiz Creator Studio</h1>

      <div class="form-field">
        <label class="commonTitle">Quiz Title</label>
        <input v-model="quiz.name" type="text" />
      </div>
      <div class="form-field">
        <label class="commonTitle">Question Duration</label>
        <input v-model.number="quiz.questionDuration" type="number" />
      </div>
      <br><br>
      <div v-for="(question, index) in quiz.questions">
        <!-- all questions -->
        <!-- each question here -->
        <div class="question-field" v-bind:class="{odd: index%2 == 1, even: index%2 == 0}">
          <label>Question {{ index }}: </label>
          <input v-model="question.question" class="question" type="text" />
          <br><br>
          <label>Answer 0: </label>
          <input v-model="question.answers[0]" type="text" />
          <label>Answer 1: </label>
          <input v-model="question.answers[1]" type="text" />
          <br><br>
          <label>Answer 2: </label>
          <input v-model="question.answers[2]" type="text" />
          <label>Answer 3: </label>
          <input v-model="question.answers[3]" type="text" />
          <br><br>
          <label>Correct Answer (0-3): </label>
          <input v-model.number="question.correct" class="correct" type="number" />
          <br><br>
          <button v-on:click="deleteQuestion(index)">Delete Question</button>
        </div>
        <br><br>
      </div>
      <br>
      <button v-on:click="addQuestion">Add Another Question</button>
      <br><br>
      <div class="form-field">
        <button v-on:click="updateDatabase">Create Quiz</button>
      </div>
      <br>
      <button v-on:click="cancelQuiz">Cancel</button>
    </div>
    <div v-show="screen ==='message'">
      <div class="subtitle">{{ message.text }}</div>
      <button class="button" v-show="message.next != ''" v-on:click="dismissMessage">OK</button>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>