.question-field {
    border-style: groove;
    border-width: 1px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.question {
    width: 400px;
    font-family: 'Raleway', sans-serif;
}

.correct {
    width: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.commonTitle {
    font-family: 'Raleway', sans-serif;
}

.odd {
    background-color: rgb(255, 153, 51);
}

.even {
    background-color: rgb(51, 153, 255);
}