<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <div v-show="screen === 'start'">
      Connecting to server...
    </div>
    <div v-show="screen === 'enter-identity'">
        <div class="grid-container">
          <label class="grid-label">name</label>
          <input class="grid-value" v-model="enteridentity.name">
          <label class="grid-label">pin</label>
          <input class="grid-value" v-model.number="enteridentity.pin" type="number">
          <div class="final-row">
            <button v-on:click="joinGame">Join Game</button>
            <button v-on:click="sendCommand('host-game')">Host Game</button>
          </div>
        </div>
    </div>
    <div v-show="screen === 'wait-for-game-start'">Waiting for game to start...</div>
    <div v-show="screen === 'answer-question'">
      Enter Answer
      <ul>
        <li :disabled='answerquestion.disabled' v-if="answerquestion.answercount > 0" v-on:click="sendAnswer(0)"><button>Answer 1</button></li>
        <li :disabled='answerquestion.disabled' v-if="answerquestion.answercount > 1" v-on:click="sendAnswer(1)"><button>Answer 2</button></li>
        <li :disabled='answerquestion.disabled' v-if="answerquestion.answercount > 2" v-on:click="sendAnswer(2)"><button>Answer 3</button></li>
        <li :disabled='answerquestion.disabled' v-if="answerquestion.answercount > 3" v-on:click="sendAnswer(3)"><button>Answer 4</button></li>
      </ul>
    </div>
    <div v-show="screen === 'wait-for-question-end'">Waiting for all players to answer...</div>
    <div v-show="screen === 'display-player-results'">
      <ul>
        <li>correct: {{ displayplayerresults.correct }}</li>
        <li>score: {{ displayplayerresults.score }}</li>
      </ul>
    </div>

    <!-- Host Screens -->
    <div v-show="screen === 'select-quiz'">
        <h1>Select Quiz</h1>
        <ul>
            <li v-for="quiz in selectquiz.quizzes">
                <button v-on:click="selectQuiz(quiz.id)">{{ quiz.name }}</button>
            </li>
        </ul>
    </div>
    <div v-show="screen === 'game-lobby'">
        <h1>Game Lobby</h1>
        <h2>{{ gamelobby.name }}</h2>
        <h2>pin: {{ gamelobby.pin }}</h2>
        <h2>Players</h2>
        <ul>
            <li v-for="player in gamelobby.players">{{ player }}</li>
        </ul>
        <button v-on:click="sendCommand('start-game')">Start Game</button>
    </div>
    <div v-show="screen === 'show-question'">
      <ul>
        <li>Time Left: {{ showquestion.timeleft }}</li>
        <li>Players Answered: {{ showquestion.answered }} / {{ showquestion.totalplayers }}</li>
        <li>Question {{ showquestion.questionindex + 1 }}</li>
        <li>Question: {{ showquestion.question }}</li>
        <li v-if="showquestion.answers.length > 0">Answer 1: {{ showquestion.answers[0] }}</li>
        <li v-if="showquestion.answers.length > 1">Answer 2: {{ showquestion.answers[1] }}</li>
        <li v-if="showquestion.answers.length > 2">Answer 3: {{ showquestion.answers[2] }}</li>
        <li v-if="showquestion.answers.length > 3">Answer 4: {{ showquestion.answers[3] }}</li>
      </ul>
    </div>
    <div v-show="screen === 'show-question-results'">
      Question Results
      <ul>
        <li>Question {{ showquestionresults.questionindex + 1 }}</li>
        <li v-for="v in showquestionresults.votes">{{ v }}</li>
        <li>Total Votes: {{ showquestionresults.totalvotes }}</li>
        <li>Question: {{ showquestionresults.question }}</li>
        <li v-for="(answer, index) in showquestionresults.answers"><span v-if="showquestionresults.correct == index">✓</span>{{ answer }}</li>
      </ul>
      <button :disabled="showquestionresultsbuttondisabled" v-on:click="hostNextQuestion">Next Question</button>
    </div>
    <div v-show="screen === 'show-game-results'">
      Winners Here
      <ul>
        <li v-for="(p, index) in showgameresults">{{ index + 1 }}. {{ p.name }} - {{ p.score }}</li>
      </ul>
      <button :disabled="showgameresultsbuttondisabled" v-on:click="deleteGame">Delete Game</button>
    </div>
    <div v-show="screen === 'error'">
      {{ error.message }}
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>
