<!DOCTYPE html>
<html>
<head>  <title>Quiz</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">

    <div v-show="screen === 'start'">
      <h2 class="title">Connecting to server...</h2>
      <div class="center"><img src="ajax-loader.gif"></div>
    </div>


    <div v-show="screen === 'enter-identity'">
      <h1 class="title">Join a Game</h1>
      <div>
        <label class="label">Name</label>
        <input class="forminput" v-model="enteridentity.name">
      </div>
      <br>
      <div>
        <label class="label">Game Pin</label>
        <input class="forminput" v-model.number="enteridentity.pin" type="number">
      </div>
      <br>
      <div>
        <button class="button" :disabled='enteridentitydisabled' v-on:click="joinGame">Join</button>
      </div>
      <div class="center">
        <button class="transparent" v-on:click="hostGame">Click here to host a game</button>
      </div>
    </div>


    <div v-show="screen === 'wait-for-game-start'">
      <h2 class="title">Waiting for game to start...</h2>
      <div class="center"><img src="ajax-loader.gif"></div>
    </div>


    <div v-show="screen === 'answer-question'">
      <button class="answerbutton" :disabled='answerquestion.disabled' v-for="n in answerquestion.answercount" v-bind:class="{ option0: n==1, option1: n==2, option2: n==3, option3: n==4 }" v-bind:style="{ height: (window.height / 2) + 'px' }" v-on:click="sendAnswer(n-1)"></button>
    </div>


    <div v-show="screen === 'wait-for-question-end'">
      <h2 class="title">Waiting for all players to answer...</h2>
      <div class="center"><img src="ajax-loader.gif"></div>
    </div>

    <div v-show="screen === 'display-player-results'">
      <h4 class="score">Score: {{ displayplayerresults.score }}</h4>
      <h2 class="playerresult">{{ displayplayerresults.correct?'Correct!':'Incorrect' }}</h2>
    </div>


    <!-- Host Screens -->

    <div v-show="screen === 'select-quiz'">
      <button class="transparent" v-on:click="sendHostBackToStart">Back</button>
      <h1 class="title">Start a Game</h1>
      <h4 class="subtitle">Choose a game below or create your own!</h4><!-- todo: put a link to creator here -->
      <div class="gamelist">
        <div v-for="quiz in selectquiz.quizzes">
          <button class="gamebutton" :disabled='selectquizdisabled' v-on:click="selectQuiz(quiz.id)">{{ quiz.name }}</button>
          <br/><br/>
        </div>
      </div>
    </div>


    <div v-show="screen === 'game-lobby'">
      <button class="transparent" v-on:click="cancelGame">Cancel Game</button>
      <br/>
      <!-- todo: put QR code here -->
      <h2 class="title">Join this game using the Game Pin:</h2>
      <h1 class="gamepintext">{{ gamelobby.pin }}</h1>
      <textarea class="players" readonly>{{ gamelobbytextarea }}</textarea>
      <br/>
      <button class="start" :disabled='gamelobbydisabled' v-on:click="startGame">Start Game</button>
    </div>


    <div v-show="screen === 'show-question'">
      <h4 class="questionheader">Question {{ showquestion.questionindex + 1 }} / {{ showquestion.totalquestions }}</h4>
      <h4 class="questionheader">Players Answered: {{ showquestion.answered }} / {{ showquestion.totalplayers }}</h4>
      <h3 class="questionsubheader">Time Left: {{ showquestion.timeleft }}</h3>

      <div class="blockscontainer">
        <!--
          calculate the height based on totalplayers and not totalvotes to get a sense of voting progress
        -->
        <div v-for="(vote, index) in showquestion.votes" class="square" v-bind:class="{option0: index==0, option1: index==1, option2: index==2, option3: index==3}" v-bind:style="{ height: (vote * 100 / showquestion.totalplayers) + 'px' }"></div>
      </div>

      <h2 class="questionsubheader">{{ showquestion.question }}</h2>
      <div v-for="(answer, index) in showquestion.answers">
        <h3 class="answer" v-bind:class="{option0: index==0, option1: index==1, option2: index==2, option3: index==3}">{{ answer }}</h3>
        <br/>
      </div>
    </div>


    <div v-show="screen === 'show-question-results'">
      <h4 class="questionheader">Question {{ showquestionresults.questionindex + 1 }} / {{ showquestionresults.totalquestions }}</h4>

      <div class="blockscontainer">
        <!--
          calculate the height based on totalplayers and not totalvotes to get a sense of voting progress
        -->
        <div v-for="(vote, index) in showquestionresults.votes" class="square" v-bind:class="{option0: index==0, option1: index==1, option2: index==2, option3: index==3}" v-bind:style="{ height: (vote * 100 / showquestionresults.totalplayers) + 'px' }"></div>
      </div>

      <h2 class="questionsubheader">{{ showquestionresults.question }}</h2>
      <div v-for="(answer, index) in showquestionresults.answers">
        <h3 v-bind:style="{ filter: (showquestionresults.correct == index ? 'none' : 'grayscale(95%)') }" class="answer" v-bind:class="{option0: index==0, option1: index==1, option2: index==2, option3: index==3}"><span v-if="showquestionresults.correct == index">&#10004 </span>{{ answer }}</h3>
        <br/>
      </div>
      <button class="button" :disabled="showquestionresultsdisabled" v-on:click="hostNextQuestion">Next Question</button>
    </div>


    <div v-show="screen === 'show-game-results'">
      <h2 class="winnertitle">Top Players</h2>
      <h3 class="winner" v-for="(p, index) in showgameresults">{{ index + 1 }}. {{ p.name }} - {{ p.score }}</h3>
      <button class="button" :disabled="showgameresultsdisabled" v-on:click="deleteGame">Delete Game</button>
    </div>


    <div v-show="screen === 'error'">
      <h2 class="subtitle">{{ error.message }}</h2>
      <button class="button" :disabled="error.disabled" v-on:click="dismissError">OK</button>
    </div>


  </div>
  <script src="app.js"></script>
</body>
</html>
