body {
    background-color: black;
}

.title, .subtitle, .label, .button, .buttonauth {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
}

.title {
    font-size: 10vw;
    clear: right;
}

.subtitle {
    font-size: 8vw;
}

.label {
    display: block;
    font-size: 5vw;
}

.forminput {
    width: 50%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 5vw;
    text-align: center;
}

.button {
    width: 50%;
    background-color: #4CAF50;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 5vw;
    background-color: #3A3B3A;
}

/* copy of button with a smaller width */
.buttonauth {
    width: 40%;
    background-color: #4CAF50;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 2vw;
    background-color: #3A3B3A;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparent {
    color: white;
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}
.transparent:hover{
    text-decoration:underline;
}

.gamelist {
    text-align: center;
}

.gamebutton {
    font-size: 3vw;
    color: blue;
}

.gamebutton:hover {
    cursor: pointer;
}

.gamepintext {
    text-align: center;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 5vw;
}

a {
    color: lightblue;
}

.outline {
    outline-color: lightgray;
    outline-style: solid;
}

.players {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2vw;
    resize: none;
    width: 80%;
}

.start {
    background-color: #3A3B3A;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.questionheader {
    font-family: 'Tajawal', sans-serif;
    font-size: 3vw;
    color: white;
}

.questionsubheader {
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    color: white;
}

.answer {
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.5vw;
}

.blockscontainer {
    height: 150px;
    display: flex;
}

.square {
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    height: 0px;
    flex-grow: 1;
    align-self: flex-end;
}

.option0 {
    background-color: #4CAF50;
}

.option1 {
    background-color: #f94a1e;
}

.option2 {
    background-color: #3399ff;
}

.option3 {
    background-color: #ff9933;
}

.winnertitle {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 8vw;
    color: #3399ff;
}

.winner {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-size: 5vw;
}

.answerscreen {
    width: 100%;
    height: 50%;
    margin: 0px 0px;
}

.answerbutton {
    width: 50%;
    margin: 0px 0px;
    float: left;
}

.scorepanel {
    margin-left: 2vw;
}

.score {
    font-family: 'Raleway', sans-serif;
    font-size: 8vw;
    color: white;
    padding: 0px 10px;
}

.playerresult {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 12vw;
}

.answercorrect {
    color: green;
}

.answerincorrect {
    color: red;
}

.columns {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-auto-rows: 1fr;
}